<div class="container">
    <p class="text-secondary">Nom de la salle</p>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown button
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
    <form #salle (ngSubmit) = "modifierSalle(salle)" >
        <p class="text-secondary">Privée</p>
        <input type="checkbox" name="publique" value="privee" onclick="alert('You clicked the button!')">
        <br><br>
    </form>
</div>
