

<!-- Recherche table messages recu -->
<div class="container">
  <div class="row">
    <form
      #recherche="ngForm"
      (ngSubmit)="afficherMesMessagesParExpediteur(recherche.login)"
      class="container border trombinoscope col-sm-9"
    >
      Liste des messages: <!--VERIFIER-->
      <br />
      <div class="row">
        <div class="col-sm-12">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">id</th>
                <th scope="col">date</th>
                <th scope="col">contenu</th>
                <th scope="col">From</th>
                <th scope="col">To</th>
                
              </tr>
            </thead>
            <!--VERIFIER-->
            <tbody>
              <tr *ngFor="let a of messages" (click)="rechercheMesMessagesId(a.id)">
                <th scope="row">{{ a.id }}</th>
                <td>{{ a.dateCreation }}</td>
                <td>{{ a.contenu }}</td>
                <td>{{ a.expediteur.login }}</td>
                <td>{{ a.destinataire.login }}</td>
                
              </tr>
            </tbody>
          </table>
        </div>
        <div class="form-head col-sm-2">
          <button
            type="button"
            (click)="fenetreActivation(1)"
            class="btn btn-sm button-primary btn-block"
          >
            Ecrire : <!--VERIFIER-->
          </button>
        </div>
        <div class="col-sm-8">
          <input
            type="text"
            required
            placeholder=" Zone de recherche en cours"
            id="loginZone"
            name="login"
            class="form-control"
            ngModel
          />
        </div>
        <div class="form-head col-sm-2">
          <button
            (click)="fenetreActivation(2);"
            type="submit"
            class="btn btn-sm button-primary btn-block"
          >
            Rechercher <!--VERIFIER-->
          </button>
        </div>
      </div>
    </form>
    <!-- Recherche card -->
    <div class="container border col-sm-3">
      <div class="container">
        <br />
        <form>
          <div class="form-group"></div>

          <div *ngIf="fenetreResultat" class="col-sm">
            <div class="row">
              <div class="card">
                <div class="col-sm-12">
                  <div class="card-body-note">
                    <div class="card-text">
                      <p>Message Id : {{ message.id }}</p>
                      <p>Date : {{ message.dateCreation }}</p>
                      <p>From : {{ message.expediteur.mail }}</p>
                      <p>From : {{ message.destinataire.mail }}</p>
                      <p>contenu : {{ message.contenu }}</p>
                      
                    </div>
                  </div>
                  <div class="card-footer">
                    <div>
                      <div class="dropdown">
                        <button
                          class="btn btn-secondary dropdown-toggle"
                          type="button"
                          id="dropdownMenuButton"
                          data-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="false"
                        >
                          Actions
                        </button>
                        <div
                          class="dropdown-menu"
                          aria-labelledby="dropdownMenuButton"
                        >
                          <a
                            (click)="fenetreActivation(3)" 
                            class="dropdown-item"
                            >Modifier <!--VERIFIER--> </a
                          >
                          <a (click)="bloquer(person)" class="dropdown-item"
                            >Bloquer </a
                          >
                          <a (click)="effacer(person.user)" class="dropdown-item"
                            >Effacer </a
                          >
                        </div>
                      </div>
                    </div>

                    <div></div>
                  </div>
                </div>
                <br />
              </div>
            </div>
          </div>
          <!-- Card Pas de Résultat --> <!--VERIFIER-->
          <div *ngIf="fenetreSansResultat" class="col-sm">
            <div class="row">
              <div class="card">
                <div class="col-sm-12">
                  <div class="card-body-note">
                    <div class="card-text">
                      <p>Pas de résultats</p>
                      <p><br /></p>
                      <p><br /></p>
                      <p><br /></p>
                      <p><br /></p>
                    </div>
                  </div>
                </div>
                <br />
              </div>
            </div>
          </div>

          <!-- Card Ecrire --> <!--VERIFIER-->

          <div class="card ecrire">
            <div *ngIf="fenetreEcrire" class="contenuCard">
              <!--VERIFIER-->
                <form #f="ngForm" (ngSubmit)="ecrire(f.value)">
                <div class="form-group">
                  <label style="align-content: center" for="">
                    Ecrire un message
                  </label>
                  
                  <input
                    type="text"
                    placeholder="Destinataire"
                    name="expediteur"
                    id="expediteur"
                    class="form-control"
                    required [disabled]
                    ngModel = {{this.userId}} 
                  />

                  <input
                    type="text"
                    placeholder="Destinataire"
                    name="destinataire.id  "
                    id="login"
                    class="form-control"
                    required
                    ngModel = ' 4 '
                  />

                     
                  
                </div>

                <button
                  type="submit"
                  [disabled]="f.invalid"
                  class="btn button-primary btn-sm-block"
                >
                  Valider
                </button>
              </form>
            </div>
          </div>

          <!-- Card modification -->
          <!--VERIFIER-->
          <div class="card modification">
            <div *ngIf="fenetreModification" class="contenuCard">
              <form
                #user="ngForm"
                (ngSubmit)="
                  modification(user.value) +
                    console('value submit' + user.value)
                "
              ><!--VERIFIER-->


                <div class="form-group">
                  <label style="align-content: center" for="">
                    Modification
                  </label>

                  <input
                    type="text"
                    required
                    placeholder="id"
                    class="form-control"
                    name="id"
                    ngModel="{{ person.user.id }}"
                    hidden
                  />
                  <input
                    type="text"
                    required
                    placeholder="{{ person.user.login }}"
                    class="form-control"
                    name="login"
                    ngModel="{{ person.user.login }}"
                  />
                  <input
                    type="password"
                    required
                    placeholder="{{ person.user.password }}"
                    class="form-control"
                    name="password"
                    ngModel="{{ person.user.password }}"
                  />
                  <input
                    type="text"
                    required
                    placeholder="{{ person.user.tel }}"
                    class="form-control"
                    name="tel"
                    ngModel="{{ person.user.password }}"
                  />
                  <input
                    type="text"
                    required
                    placeholder="{{ person.user.mail }}"
                    class="form-control"
                    name="mail"
                    ngModel="{{ person.user.mail }}"
                  />

                </div>

                  <button
                    [disabled]="user.invalid"
                    
                    type="submit"
                    class="btn btn-sm button-primary btn-block"
                  >
                    Valider
                  </button>
                  <button
                    (click)="fenetreActivation(0)"
                    type="submit"
                    class="btn btn-sm button-primary btn-block"
                  >
                    Annuler
                  </button>
                

              </form>

            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div>
  <br />
</div>
