<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Vendeur</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Salles
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink='/ajouterSalle'>Ajouter une salle</a>
            <a class="dropdown-item" routerLink='/historiqueSalle'>Valider location de salles</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Joueur
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink='/ajouterSalle'>Ajouter une salle</a>
            <a class="dropdown-item" routerLink='/historiqueSalle'>Valider location de salles</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
  <div class="center mt-15">
    <h2>Ajouter une salle</h2>
</div>
<form #salle = "ngForm" (ngSubmit) = "ajouterSalle(salle.value)">
<div class="row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-6">
        <p>Nom de la salle</p>
        <input type="text" class="form-control" name="nom" ngModel>
        <p>Prix</p>
        <input type="text" class="form-control" name="prix" ngModel>
        <p>Nombre de places</p>
        <input type="text" class="form-control" name="nombreDePlaces" ngModel>
        <p>Publique (true/false)</p>
        <input type="text" class="form-control" name="publique" ngModel>
        <p>URL de l'image</p>
        <input type="text" class="form-control" name="urlImage" ngModel>
        <br><br>
        <div class="center">
            <button type="submit" class="btn">Valider</button>
            <p>{{messageAjout()}}</p>
        </div>
    </div>
    <div class="col-sm-3">
    </div>
</div>
</form>

<div class=" col-sm-3 dropdown">
  <button
    class="btn btn-secondary  dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false hover" >
    <a class="nav-item nav-link" routerLink='connexion'><i style = "color: steelblue" class="fa fa-user fa-2x"></i>&nbsp;Mon compte</a>
  </button>

  <div
    class=" col-sm-3 dropdown-menu" aria-labelledby="dropdownMenuButton" >
    
      <a class="nav-item nav-link" routerLink='panier'><i style = "color: steelblue" class="fa fa-shopping-cart fa-2x"></i>&nbsp;Mon panier</a>
      <a class="nav-item nav-link" routerLink='deconnexion'><i style = "color: steelblue" class="fa fa-power-off fa-2x"></i>&nbsp;Déconnexion</a>
  </div>
</div>
 