<p>tache-vendeur works!</p>

<app-admin></app-admin>

    <!-- Navbar d'admin-->
    
    
        <!-- Creation vendeur -->
     <div class="container col-sm-4 border">
        <div class="container  col-sm-4 border">
          <p>Creér un Vendeur</p>
      
          <form #vendeur="ngForm" (ngSubmit)="inscriptionVendeur(vendeur.value)">
            <div class="form-group">
              <label for=""> formulaire de création Vendeur </label>
              <input type="text" required placeholder="Entrez le login" name="login" class="form-control" ngModel/>
              <input type="password" required placeholder="Entrez le mot de passe" name="password"class="form-control" ngModel/>
              <input type="text" required placeholder="Entrez le numéro de téléphone" name="tel" class="form-control" ngModel/>
              <input type="text" required placeholder="Entrez l'addresse mail" name="mail" class="form-control" ngModel/>
            </div>
      
            <button type="submit" class="btn button-primary btn-block">
              Valider
            </button>
          </form>
        </div>
      </div> 
    
     <!-- recherche d'un vendeur par login  -->
<div class="container border">
  <p>Rechercher par id/nom un vendeur</p>

  <form #recherche="ngForm" (ngSubmit)="rechercheVendeur(recherche.value)">
    <div class="form-group">
      <label> FORMULAIRE DE recherche : </label>
      <input type="text" required placeholder=" Entre le login du vendeur recherché" id="login" name="login" class="form-control" ngModel/>
    </div>

    <div *ngIf="vendeurExist" class="col-sm-4">
      
      <div class="row">
        <div class="card">
          <div class="col-sm-12">
            <div class="card-body-note">
              <div class="card-header">Vendeur recherché :</div>

              <div class="card-text">
                <p>Id : {{ addVendeur(rechercheV.id) }}</p>
                <p>Login : {{ rechercheV.user.login }}</p>
                <p>Mail : {{ rechercheV.user.mail }}</p>
                <p>Numéro : {{ rechercheV.user.tel }}</p>
                <p>Etat du compte : {{ activitee(rechercheV.user.activity) }}</p>
              </div>
            </div>
            <div class="card-footer">
              <button
                type="button" class="btn btn-raised noto" (click)="clickFunction()"
              >
                Modifier
              </button>
              <button type="button" id="bt_bloquer" class="btn btn-raised noto" (click)="bloquer(rechercheV) + rechercheVendeur(recherche.value)">
                Bloquer
              </button>
            </div>
          </div>
          <br />
        </div>
      </div>
    </div>
    <button type="submit" class="btn button-primary btn-block">
      Valider
    </button>
  </form>
</div>

<p>modifier une cotisation adhérent, c'est pas au venderu plutot ? ?</p>
    
      
    
    