<p>Mon panier</p>
<div class="row">
<div class="col-sm-9 ">
    <div class="row"> 
    <div *ngFor="let j of panier" class="col-sm-4 ">
              <br>
                <div class="card">
                  <img src={{j.image}} width="200px"><br>
                  <div class="ml-2">
                      <div class="row">
                        <div class="col-sm-4">{{j.note}}/5</div>
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4">Quantite : {{j.quantite}}<br></div>
                      </div>
                      <div class="row">
                        <div class="col-sm-9">{{ j.marque}}</div>
                        <div class="col-sm-3"><a class="btn btn-outline-warning btn-sm" type="button" onclick="setQuantiteMoins()">-</a><a class="btn btn-outline-warning btn-sm" type="button" onclick="setQuantitePlus(id)">+</a></div>
                      <br>
                    </div>
                    <div class="row">
                      <div class="col-sm-4">{{ j.nom}}</div>
                      <div class="col-sm-4"></div>
                      <div class="col-sm-4"></div>
                    </div>
                  </div>
              </div>
              
              <div class="card">
                <div class="ml-2 mt-2">
                    <div class="row">
                        <div class="col-sm-6">Achat : {{j.prixAchat}} €/unité</div>
                        <div class="col-sm-6">Location : {{j.prixLocation}} €/unité<br></div>
                    </div>
                </div>
            </div>
            <br>
              
          </div>
        </div>  
      </div>

<div class="col-sm-3">
    <div class="text-big">Prix Total Achat : {{prixTotalAchat}} €<br>
    <a class="btn btn-outline-warning btn-sm text-center" href="connexion" role="button">Acheter</a></div>
    <div class="text-big">Prix Total Location : {{prixTotalLocation}} €</div>
    <a class="btn btn-outline-warning btn-sm text-center" href="connexion" role="button">Louer</a>
</div>
</div>
