<h1>Mon panier Achat</h1>
<div class="row">
<div class="col-sm-9 ">
    <div class="row"> 
    <div *ngFor="let j of panierAchat" class="col-sm-4 ">
              <br>
                <div class="card">
                  <img type="button" (click)="goToJeu(j.jeuAchat)" src={{j.jeuAchat.lejeu.urlImage}} width="200px"><br>
                  <div class="ml-2">
                      <div class="row">
                        <div class="col-sm-4">{{j.note}}/5</div>
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4">Quantite : {{j.quantite}}<br></div>
                      </div>
                      <div class="row">
                        <div class="col-sm-8" style="font-size: large !important;" type="button" (click)="goToJeu(j.jeuAchat)" >{{ j.jeuAchat.lejeu.nom}}<br></div>
                        <div class="col-sm-1"><a class="btn btn-success btn-outline-success btn-sm" type="button" (click)="quantiteMoins(j)">-</a></div>
                        <div class="col-sm-1"><a class="btn btn-outline-success btn-sm" type="button" (click)="quantitePlus(j)">+</a></div>
                      </div>
                      <div class="row">
                        <div class="col-sm-4">{{ j.jeuAchat.lejeu.marqueDuJeu.libelle}}</div>
                        <div class="col-sm-4"></div>
                        <div classe="col-sm-4"><a class="btn btn-outline-danger btn-sm" type="button" (click)="supprimerJeu(j)">Supprimer</a></div>
                      </div>
                      
                      
                  </div> 
              </div>
              
              <div class="card">
                <div class="ml-2 mt-2">
                    <div class="row">
                        <div class="col-sm-6">Achat : {{j.jeuAchat.prixAchat}} €/unité</div>
                        <div class="col-sm-6">Location : {{j.jeuAchat.lejeu.prixLocation}} €/unité<br></div>
                    </div>
                </div>
            </div>
            <br>
              
          </div>
        </div>  
      </div>

<div class="col-sm-3">
    <p style="font-size: larger;">Prix Total Achat : {{prixTotalAchat}} €<br></p>
    <p style="font-size: larger;">Prix Total Location : {{prixTotalLocation}} €<br><br><a class="btn btn-outline-warning btn-sm" href="connexion" role="button">Confirmer l'achat et la location</a></p>
</div>
</div>


<h1>Mon panier Location</h1>
<div class="row">
<div class="col-sm-9 ">
    <div class="row"> 
    <div *ngFor="let j of panierLocation" class="col-sm-4 ">
              <br>
                <div class="card">
                  <img type="button" (click)="goToJeu(j.jeuAchat)" src={{j.jeuAchat.lejeu.urlImage}} width="200px"><br>
                  <div class="ml-2">
                      <div class="row">
                        <div class="col-sm-4">{{j.note}}/5</div>
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4">Quantite : {{j.quantite}}<br></div>
                      </div>
                      <div class="row">
                        <div class="col-sm-8" type="button" (click)="goToJeu(j.jeuAchat)" style="font-size: large !important;">{{ j.jeuAchat.lejeu.nom}}<br></div>
                        <div class="col-sm-1"><a class="btn btn-outline-success btn-sm" type="button" (click)="quantiteMoins(j)">-</a></div>
                        <div class="col-sm-1"><a class="btn btn-outline-success btn-sm" type="button" (click)="quantitePlus(j)">+</a></div>
                      </div>
                      <div class="row">
                        <div class="col-sm-4">{{ j.jeuAchat.lejeu.marqueDuJeu.libelle}}</div>
                        <div class="col-sm-4"></div>
                        <div classe="col-sm-4"><a class="btn btn-outline-danger btn-sm" type="button" (click)="supprimerJeu(j)">Supprimer</a></div>
                      </div>
                      
                      
                  </div> 
              </div>
              
              <div class="card">
                <div class="ml-2 mt-2">
                    <div class="row">
                        <div class="col-sm-6">Achat : {{j.jeuAchat.prixAchat}} €/unité</div>
                        <div class="col-sm-6">Location : {{j.jeuAchat.lejeu.prixLocation}} €/unité<br></div>
                    </div>
                </div>
            </div>
            <br>
              
          </div>
        </div>  
      </div>
</div>