<div class="container">
  <div class="card">
    <div class="card-header">
     <h5>Demande de réservation</h5> 
    </div>
    <div class="card-body">
      <h5 class="card-title"><strong>{{salle.nom}}</strong></h5>
      <img src= {{salle.urlImage}} alt="Salle" height="135px" width="216px">
      <div class="mt-2">
        <p class="card-text"><strong>Réservation d'une place dans la salle '{{salle.nom}}'. </strong><br>Prix: {{salle.prix}} €</p>
        
        <form #historique = ngForm (ngSubmit) = 'ajouterHistorique(historique.value)'>
          <div class="row">
            <div class="col-sm-3"> 
              <div class="text-secondary">Horaire de début</div>
              <input type="datetime-local" name="dateDebut" ngModel>
              <div class="text-secondary">Horaire de fin</div>
              <input type="datetime-local" name="dateFin" ngModel>
            </div>
            <div class="col-sm-3"> 
              <!--Mettre ici l'input "dateFin" ainsi que la div qui l'englobe-->
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-1">
                <div class="center">
                  <button type="submit" class="btn">Valider</button>
              </div> 
            </div>
          </div>
         
         
        </form>
      </div>
    </div>
  </div>
</div>

