<p>Salut énorme BG</p>


<div class="container">

 

    <form #user = "ngForm" (ngSubmit) = "inscription(user.value)" >

        <div class="form-group">
            <label for=""> LE GROS FORMULAIRE D'INSCRIPTION JOUEUR DE SES MORTS</label>
            <input type="text" placeholder="Donnez moi votre p'tit login, mon poulet!" name="login" class="form-control" ngModel  >
            <input type="password" placeholder="On promet qu'on ne regardera pas votre mot de passe!" name="password" class="form-control" ngModel >
            <input type="text" placeholder=" Vous etes fort charmant, vous n'auriez pas un 06?" name="tel" class="form-control" ngModel >
            <input type="text" placeholder="C'est presque fini, un mail ?" name="mail" class="form-control" ngModel >
            
        </div>


        <button type="submit"  class="btn button-primary btn-block">Valider</button>


    </form>



</div>
