
<div class="container">

    <div class="center">
      <h2>Trouvez le sujet correspondant à votre question</h2>
    </div>
<br><br>
      <div class="row">
        <br>
        <div *ngFor="let s of sujets" class="col-sm-3 ">
          <br>
            <div type="button" (click)="goToMessage(s)" class="card">
              <div class="card-body border border-secondary">
                <i style ="color : steelblue" class="{{s.logo}}"></i>
                <p class="card-text text-left">{{s.sujet}}</p>
              </div>
            </div>
   
            <br>
   
        </div>
    </div>



    </div>
        

    


