<div class="container">
    <form #msg="ngForm"(ngSubmit)="newMessage(msg.value)"><!--note aura tous le contenu du formulaire, info du formulaire contenu dans note.value--->
        <div class="form-group">
            <label class="text-secondary" for="">Posez votre question ici</label><!--label évite d'utiliser le placeholder-->
            <input type="text" name="contenu" class="form-control" ngModel=""><!--contenue est le nom utilisé dans le format json donc la bd-->
        </div>
        <button type="submit" class="btn btn-primary btn-block">valider</button><!--, rajouter form module x2 dans modulestype submit pour envoyer les données-->
    </form>
</div>
<div class="container"> 
    <div class="row">
        <div *ngFor="let m of message" class="col-sm-12">
            <div class="card card-shadow">
                <div class="p-3" class="card-body">     
                <p>{{m.expediteur.login}}<i class="text-secondary">{{m.dateCreation|date : 'd/M/y h:mm:SS'}}</i></p>
                <p>{{ m.contenu }}</p>
            </div>
            </div>
            <br>
        </div>
    </div>
</div>