<div class="container">
    <div class="row">

        <div class="col-sm-12">
            <form #msg="ngForm" (ngSubmit)="newMessage(msg.value)">
                <!--note aura tous le contenu du formulaire, info du formulaire contenu dans note.value--->
                <div class="form-group">
                    <label class="text-secondary" for="">Posez votre question ici</label>
                    <!--label évite d'utiliser le placeholder-->
                    <input type="text" name="contenu" class="form-control" ngModel="">
                    <!--contenue est le nom utilisé dans le format json donc la bd-->
                </div>
                <div class="col-sm-3">
                    <button type="submit" class="btn btn-raised btn-sized">valider</button>
                    <!--, rajouter form module x2 dans modulestype submit pour envoyer les données-->
                    &nbsp; &nbsp;<button (click)="goToForum()" type="submit"
                        class="btn btn-raised btn-sized">retour</button>
                </div>

            </form>
        </div>
        <div class="col-sm-2"></div>
    </div>
    <div class="row">
        <div *ngFor="let m of info" class="col-sm-12">
            <div *ngIf="m.message==null">
                <div class="card card-shadow">
                    <div class="p-3" class="card-body">

                        <p><b><i class="fas fa-user"
                                    style="color: steelblue;"></i>&nbsp;{{m.expediteur.login}}</b>&nbsp;&nbsp;<i
                                class="text-secondary">{{m.dateCreation|date : 'd/M/y h:mm:SS'}}</i></p>
                        <p>{{ m.contenu }}</p>
                        
                    </div>
            
                    <div *ngFor="let r of info">
                    
                        <div *ngIf="r.message!=null">
                            
                            <div *ngIf="r.message.id==m.id">
                             
                                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b><i class="fas fa-user"
                                            style="color: steelblue;"></i>&nbsp;{{r.expediteur.login}}</b>&nbsp;&nbsp;a répondu le<i
                                        class="text-secondary">&nbsp;&nbsp;{{r.dateCreation|date : 'd/M/y h:mm:SS'}}</i></p>
                                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{r.contenu}}</p>
                        
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dropdown" class="right">
                    <button class="btn btnColor btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Répondre
                    </button>
                    <div class="dropdown-menu btnColor1" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item"> <form #msg="ngForm" (ngSubmit)="newReponse(m.id, msg.value)">
                            <!--note aura tous le contenu du formulaire, info du formulaire contenu dans note.value--->
                            <div class="form-group">
                                <label class="text-secondary" for="">Répondez ici</label>
                                <!--label évite d'utiliser le placeholder-->
                                <input type="text" name="contenu" class="form-control" ngModel="">
                                <!--contenue est le nom utilisé dans le format json donc la bd-->
                            </div>
                            <div class="col-sm-2">
                                <button type="submit" class="btn btn-raised btn-sized">Répondre</button>
                                <!--, rajouter form module x2 dans modulestype submit pour envoyer les données-->
                            </div>
                        </form></a>
                    </div>
                </div>
               <br><br>
            </div>




        </div>
    </div>
</div>

<!--*ngIf="filterProperties.categorie!=null"> Catégorie : {{filterProperties.categorie.libelle}}&nbsp-->

