
<div class="container">
    <div class="center">
        <h2>Salles de jeux</h2>
    </div>
    <br>
    
    <div class="row">
        <br>
        <div *ngFor="let s of salle" class="col-sm-3">
            <div class="card" style="width: 14rem;">
                <img class="card-img-top" src={{s.urlImage}} alt="Ville">
                <div class="card-body">
                    <h5 class="card-title">{{s.nom}}</h5>
                    <p class="card-text">Nombre places disponibles : {{s.nombreDePlaces}}</p>
                    <p class="card-text">Accès public : {{convertBoolean(s.publique)}}</p>
                    <p class="card-text">Prix : {{s.prix}} €</p>
                    <a type="button" (click)="reserver(s)" class="btn btn-primary">Demander une place</a> 
                </div>
            </div>
        </div>
    </div>
</div>