//tache admin



    <!-- Navbar d'admin-->
<app-admin></app-admin>

    <!-- Creation admin -->
 <div class="container border">
    <div class="container col-sm-6 border">
      <br>
      <p>Creér un Admin</p>
  
      <form #admin="ngForm" (ngSubmit)="inscriptionAdmin(admin.value)">
        <div class="form-group">
          <label for=""> formulaire de création Admin </label>
          <input type="text" required placeholder="Entrez le login" name="login" class="form-control" ngModel/>
          <input type="password" required placeholder="Entrez le mot de passe" name="password"class="form-control" ngModel/>
          <input type="text" required placeholder="Entrez le numéro de téléphone" name="tel" class="form-control" ngModel/>
          <input type="text" required placeholder="Entrez l'addresse mail" name="mail" class="form-control" ngModel/>
        </div>
  
        <button type="submit" class="btn button-primary btn-block">
          Valider
        </button>
      </form>
    </div>
  </div> 

  <br>

  <!-- Recherche table de tous les users -->
<div class="container border">
  <div class="trombinoscope">Liste des admins:</div>
  <br />

  <table class="table table-hover">
    <thead> 
      <tr>
        <th scope="col">id</th>
        <th scope="col">login</th>
        <th scope="col">password</th>
        <th scope="col">mail</th>
        <th scope="col">tel</th>
        <th scope="col">Etat</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let a of admins">
        <th scope="row">{{ a.id }}</th>
        <td>{{ a.user.login }}</td>
        <td>{{ a.user.password }}</td>
        <td>{{ a.user.mail }}</td>
        <td>{{ a.user.tel }}</td>
        <td>{{ actvitityBoolToStr(a.user.activity) }}</td>
      </tr>
    </tbody>
  </table>


  

