<div class="center mt-15">
    <br>
    <h2>Ajouter un jeu</h2>
    <br>
    </div>
      
  <form #jeu = "ngForm" (ngSubmit) = "ajouterJeu(jeu.value)">
  <div class="row">
      <div class="col-sm-3">
      </div>
      <div class="col-sm-6">
          <p class="text-secondary">Nom du jeu</p>
          <input type="text" class="form-control" name="nom" ngModel>
          <br>
          <p class="text-secondary">Nombre de joueurs minimum</p>
          <input type="text" class="form-control" name="nombreDeJoueursMin" ngModel>
          <br>
          <p class="text-secondary">Nombre de joueurs maximum</p>
          <input type="text" class="form-control" name="nombreDeJoueursMax" ngModel>
          <br>
          <p class="text-secondary">Age minimum</p>
          <input type="text" class="form-control" name="ageMin" ngModel>
          <br>
          <p class="text-secondary">Niveau de difficulté (facile, moyen ou difficile)</p>
          <input type="text" class="form-control" name="niveauDifficulte" ngModel>
          <br>
          <p class="text-secondary">Temps de jeu</p>
          <input type="text" class="form-control" name="tempsDeJeu" ngModel>
          <br>
          <p class="text-secondary">Description</p>
          <input type="text" class="form-control" name="description" ngModel>
          <br>
          <p class="text-secondary">Règle du jeu</p>
          <input type="text" class="form-control" name="regleDuJeu" ngModel>
          <br>
          <p class="text-secondary">URL de l'image</p>
          <input type="text" class="form-control" name="urlImage" ngModel>
          <br>
          <p class="text-secondary">Prix de location</p>
          <input type="text" class="form-control" name="prixLocation" ngModel>
          <br>
          
          <div class="center">
              <button type="submit" class="btn">Valider</button>
              <p>{{messageAjout()}}</p>
          </div>
      </div>
      <div class="col-sm-3">
      </div>
  </div>
  </form>
  
  
   