<div class="container ">
  <div class="row">
    <div class="col-sm-3 ">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Catégorie
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a (click)="goToJeuPlateau()" *ngFor="let c of categorie"  class="dropdown-item"> {{c.libelle}} </a>
        </div>
        
      </div>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Marque
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a *ngFor="let m of marque" class="dropdown-item">{{m.libelle}}</a>
        </div>
      </div>
      
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Age
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a *ngFor="let j of jeu" class="dropdown-item">{{j.lejeu.ageMin}}</a>
        </div>
      </div>
    
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Prix
        </button>
        <div  class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a *ngFor="let j of jeu" class="dropdown-item">{{j.prixAchat}}</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Nombre de joueurs
        </button>
        <div  class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a *ngFor="let j of jeu" class="dropdown-item">{{j.lejeu.nombreJoueursMin}}/{{j.lejeu.nombreJoueursMax}}</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Temps de jeu
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a *ngFor="let j of jeu" class="dropdown-item">{{j.lejeu.tempsDeJeu}}</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Niveau
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a *ngFor="let j of jeu" class="dropdown-item">{{j.lejeu.niveauDifficulte}}</a>
        </div>
      </div>
    </div>

    <div class="col-sm-9 ">
      <div class="row">
          <br>
          <div *ngFor="let j of jeu" class="col-sm-4 ">
            <br>
              <div type="button" (click)="goToJeu(j)" class="card">
                <img src={{j.lejeu.urlImage}} class="img" alt="logo jeu"><br>
                <div class="card-body ml-2">
                  <p class="card-text">{{ j.lejeu.note }}/5</p>
                  <p class="card-text">{{ j.lejeu.marqueDuJeu.libelle}}</p>
                  <p class="card-text">{{ j.lejeu.nom}}</p>
                  <p class="card-text">Achat : {{j.prixAchat}} € | Location : {{j.lejeu.prixLocation}} €</p>
                  <button (click)="goToPanier()" class="btn btn-secondary btn-center">AJOUTER AU PANIER</button>
                </div>
              </div>
     
              <br>
     
          </div>
      </div>
    </div>





  </div>



</div>