

<div class="container ">
  <div class="row">
    <div class="col-sm-3 ">
      <div class="row">
        <div class="tab">
          <button class="tablinks" (click)="openCloseTab( 'Categorie')">Categorie</button><div id="Categorie" class="tabcontent">
            <a (click)="goToCategorie(c)" *ngFor="let c of categorie"  class="dropdown-item"> {{c.libelle}} </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="tab">
          <button class="tablinks" (click)="openCloseTab( 'Marque')">Marque</button><div id="Marque" class="tabcontent">
            <a (click)="goToMarque(m)" *ngFor="let m of marque" class="dropdown-item">{{m.libelle}}</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="tab">
          <button class="tablinks" (click)="openCloseTab( 'Age')">Age</button><div id="Age" class="tabcontent">
            <a (click)="goToMarque(m)" *ngFor="let m of marque" class="dropdown-item">{{m.libelle}}</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="tab">
          <button class="tablinks" (click)="openCloseTab( 'Prix')">Prix</button><div id="Prix" class="tabcontent">
            <a (click)="goToMarque(m)" *ngFor="let m of marque" class="dropdown-item">{{m.libelle}}</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="tab">
          <button class="tablinks" (click)="openCloseTab( 'Nombre de joueurs')">Nombre de joueurs</button><div id="Nombre de joueurs" class="tabcontent">
            <a (click)="goToMarque(m)" *ngFor="let m of marque" class="dropdown-item">{{m.libelle}}</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="tab">
          <button class="tablinks" (click)="openCloseTab( 'Temps de jeu')">Temps de jeu</button><div id="Temps de jeu" class="tabcontent">
            <a (click)="goToMarque(m)" *ngFor="let m of marque" class="dropdown-item">{{m.libelle}}</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="tab">
          <button class="tablinks" (click)="openCloseTab( 'Niveau de difficulte')">Niveau de difficulte</button><div id="Niveau de difficulte" class="tabcontent">
            <a (click)="goToMarque(m)" *ngFor="let m of marque" class="dropdown-item">{{m.libelle}}</a>
          </div>
        </div>
      </div>
      
      
      
    </div>

    <div class="col-sm-9 ">
      <div class="row">
          <br>
          <div *ngFor="let j of jeu" class="col-sm-4 ">
            <br>
              <div class="card">
                <img type="button" (click)="goToJeu(j)" src={{j.lejeu.urlImage}} class="img" alt="logo jeu"><br>
                <div type="button" (click)="goToJeu(j)" class="card-body ml-2">
                  <p class="card-text">{{ j.lejeu.note }}/5</p>
                  <p class="card-text">{{ j.lejeu.marqueDuJeu.libelle}}</p>
                  <p class="card-text">{{ j.lejeu.nom}}</p>
                  <p class="card-text">Achat : {{j.prixAchat}} € | Location : {{j.lejeu.prixLocation}} €</p>
                </div>
                <button (click)="addToPanier(j)" class="btn btn-secondary btn-center">AJOUTER AU PANIER</button>
              </div>
     
              <br>
     
          </div>
      </div>
    </div>





  </div>



</div>