

<!-- Creation vendeur -->
<div class="border">
  <div class="container border">
    <p>Creér un vendeur</p>

    <form #person="ngForm" (ngSubmit)="inscriptionVendeur(person.value)">
      <div class="form-group">
        <label for=""> formulaire de création Vendeur </label>
        <input
          type="text" required placeholder="Entrez le login" name="login" class="form-control" ngModel/>
        <input
          type="password" required placeholder="Entrez le mot de passe" name="password"class="form-control" ngModel/>
        <input
          type="text" required placeholder=" Entrez le numéro de téléphone" name="tel" class="form-control" ngModel
        />
        <input
          type="text" required placeholder="Entrez l'addresse mail" name="mail" class="form-control" ngModel/>
      </div>

      <button type="submit" class="btn button-primary btn-block">
        Valider
      </button>
    </form>
  </div>

<br> <br>

  <!-- Creation admin -->
<div class="border">
  <div class="container border">
    <p>Creér un Admin</p>

    <form #admin="ngForm" (ngSubmit)="inscriptionAdmin(admin.value)">
      <div class="form-group">
        <label for=""> formulaire de création Admin </label>
        <input
          type="text" required placeholder="Entrez le login" name="login" class="form-control" ngModel/>
        <input
          type="password" required placeholder="Entrez le mot de passe" name="password"class="form-control" ngModel/>
        <input
          type="text" required placeholder="Entrez le numéro de téléphone" name="tel" class="form-control" ngModel/>
        <input
          type="text" required placeholder="Entrez l'addresse mail" name="mail" class="form-control" ngModel/>
      </div>

      <button type="submit" class="btn button-primary btn-block">
        Valider
      </button>
    </form>
  </div>
</div>  

<br> <br>
<!-- Recherche Cards de tous les users -->
<div class="container border">
    <div class="trombinoscope">Liste des users:</div>
    <br />

    <div class="row">
      <div *ngFor="let u of users" class="col-sm-4">
        <div class="card">
          <!-- 
            <img
            class="card-img-overlay"
            src="https://cdn.pixabay.com/photo/2018/04/18/18/56/user-3331257_960_720.png"
            alt="Card image cap"
          /> -->
          <div class="card-body-personne">
            <div class="card-header">Personne : {{ u.id }}</div>
            <div class="card-text">
              <p>Login : {{ u.login }}</p>
              <p>Password : {{ u.password }}</p>
              <p>Mail : {{ u.mail }}</p>
              <p>Téléphone : {{ u.tel }}</p>
              <p>Etat du compte : {{ activitee(u.activity) }}</p>
            </div>
          </div>
        </div>
        <br />
      </div>
    </div>
</div> 
 
  <!-- Recherche table de tous les users -->
<div class="container border">
    <div class="trombinoscope">Liste des users:</div>
    <br />

    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">login</th>
          <th scope="col">password</th>
          <th scope="col">mail</th>
          <th scope="col">tel</th>
          <th scope="col">Etat</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let u of users">
          <th scope="row">{{ u.id }}</th>
          <td>{{ u.login }}</td>
          <td>{{ u.password }}</td>
          <td>{{ u.mail }}</td>
          <td>{{ u.tel }}</td>
          <td>{{ activitee(u.activity) }}</td>
        </tr>
      </tbody>
    </table>
    <input
          type="text" required placeholder=" Zone de recherche en cours" id="login" name="login" class="form-control" ngModel/>
</div>

  

  <!-- recherche d'un vendeur par login  -->
<div class="container border">
    <p>Rechercher par id/nom un vendeur</p>

    <form #recherche="ngForm" (ngSubmit)="rechercheVendeur(recherche.value)">
      <div class="form-group">
        <label> FORMULAIRE DE recherche : </label>
        <input
          type="text" required placeholder=" Entre le login du vendeur recherché" id="login" name="login" class="form-control" ngModel/>
      </div>

      <div *ngFor="let r of rechercheV" class="col-sm-4">
        {{ console("card V: " + r) }}
        <div class="row">
          <div class="card">
            <div class="col-sm-12">
              <div class="card-body-note">
                <div class="card-header">Vendeur recherché :</div>

                <div class="card-text">
                  <p>Id : {{ addVendeur(r.id) }}</p>
                  <p>Login : {{ r.user.login }}</p>
                  <p>Mail : {{ r.user.mail }}</p>
                  <p>Numéro : {{ r.user.tel }}</p>
                  <p>Etat du compte : {{ activitee(r.user.activity) }}</p>
                </div>
              </div>
              <div class="card-footer">
                <button
                  type="button" class="btn btn-raised noto" (click)="clickFunction()"
                >
                  Modifier
                </button>
                <button
                  type="button" class="btn btn-raised noto" (click)="bloquer(r)  + rechercheVendeur(recherche.value)">
                  Bloquer
                </button>
              </div>
            </div>
            <br />
          </div>
        </div>
      </div>
      <button type="submit" class="btn button-primary btn-block">
        Valider
      </button>
    </form>
</div>

  <p>modifier une cotisation adhérent, c'est pas au venderu plutot ? ?</p>
  
<!-- recherche d'un joueur par login  -->
<div class="container border">
  <p>Rechercher par id/login un joueur</p>

  <form #rechercheJo="ngForm" (ngSubmit)="rechercheJoueur(rechercheJo.value)">
    <div class="form-group">
      <label> FORMULAIRE DE recherche : </label>
      <input type="text" required placeholder=" Entre le login du joueur recherché" id="login" name="login" class="form-control" ngModel/>
    </div>

    <div *ngFor="let r of rechercheJ" class="col-sm-4">
      {{ console("card J : " + r) }}
      <div class="row">
        <div class="card">
          <div class="col-sm-12">
            <div class="card-body-note">
              <div class="card-header">Joueur recherché :</div>

              <div class="card-text">
                <p>Id : {{ addVendeur(r.id) }}</p>
                <p>Login : {{ r.user.login }}</p>
                <p>Mail : {{ r.user.mail }}</p>
                <p>Numéro : {{ r.user.tel }}</p>
                <p>Adhésion : {{ adhesionString(r.cotisation) }}</p>
                <p>Etat du compte : {{ activitee(r.user.activity) }}</p>
                
              </div>
            </div>
            <div class="card-footer">
              <button
                type="button" class="btn btn-raised noto" (click)="adherer(r) + rechercheJoueur(rechercheJo.value)"
              >
                Adhérant
              </button>
              <button
                type="button" class="btn btn-raised noto" (click)="bloquer(r)  + rechercheJoueur(rechercheJo.value)">
                Bloquer
              </button>
            </div>
          </div>
          <br />
        </div>
      </div>
    </div>
    <button type="submit" class="btn button-primary btn-block">
      Valider
    </button>
  </form>
</div>

  <p>Gestion du forum ????? peut etre le faire sur la page forum directement</p>
</div>

<!-- Tentative de navBar tab pour afficher user - admin - joueur - vendeur -->

<div class="container border">
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <button
        class="nav-link active"
        id="nav-home-tab"
        data-bs-toggle="tab"
        data-bs-target="#nav-home"
        type="button"
        role="tab"
        aria-controls="nav-home"
        aria-selected="true"
      >
        Home
      </button>
      <button
        class="nav-link"
        id="nav-profile-tab"
        data-bs-toggle="tab"
        data-bs-target="#nav-profile"
        type="button"
        role="tab"
        aria-controls="nav-profile"
        aria-selected="false"
      >
        Profile
      </button>
      <button
        class="nav-link"
        id="nav-contact-tab"
        data-bs-toggle="tab"
        data-bs-target="#nav-contact"
        type="button"
        role="tab"
        aria-controls="nav-contact"
        aria-selected="false"
      >
        Contact
      </button>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div
      class="tab-pane fade show active"
      id="nav-home"
      role="tabpanel"
      aria-labelledby="nav-home-tab"
    >
      POURQUOI TU MARCHES PAS
    </div>
    <div
      class="tab-pane fade"
      id="nav-profile"
      role="tabpanel"
      aria-labelledby="nav-profile-tab"
    >
      montrer listes des admins
    </div>
    <div
      class="tab-pane fade"
      id="nav-contact"
      role="tabpanel"
      aria-labelledby="nav-contact-tab"
    >
      montrer listes des vendeurs
    </div>
  </div>
</div>
<br />