  
  
  <!-- Recherche table de tous les users -->
  <div class="container">
    <div class="row">
      <!--
      <form #recherche ='ngForm' (ngSubmit)="recherchePerson(recherche.value)" class="container border trombinoscope col-sm-9">
      <br>
        <h5>Liste des Salles:</h5>
        
        <div class="row">
          <div class="col-sm-12">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">id</th>
                  <th scope="col">login</th>
                  <th scope="col">password</th>
                  <th scope="col">mail</th>
                  <th scope="col">tel</th>
                  <th scope="col">Etat</th>
                </tr>
              </thead>
  
              <tbody>
                <tr *ngFor="let a of joueurs" (click)="recherchePerson(a.user)">
                  <th scope="row">{{ a.id }}</th>
                  <td>{{ a.user.login }}</td>
                  <td>{{ a.user.password }}</td>
                  <td>{{ a.user.mail }}</td>
                  <td>{{ a.user.tel }}</td>
                  <td> {{ cotisationBoolToStr(a.cotisation) }}</td>
                  <td>{{ actvitityBoolToStr(a.user.activity) }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="form-head col-sm-2">
            <button
              type="button"
              (click)="fenetreActivation(1)"
              class="btn btn-sm button-primary btn-block"
            >
              Créer :
            </button>
          </div>
          <div class="col-sm-8">
            <input
              type="text"
              required
              placeholder=" Recherchez un joueur "
              id="loginZone"
              name="login"
              class="form-control"
              ngModel
            />
          </div>
          <div class="form-head col-sm-2">
            <button
              (click)="fenetreActivation(2)"
              type="submit"
              class="btn btn-sm button-primary btn-block"
            >
              Rechercher
            </button>
          </div>
        </div>
      </form>-->
      <!-- Recherche card -->
      <div class="container border col-sm-3">
        <div class="container">
          <br />
          <form>
            <div class="form-group"></div>
  
            <div *ngIf="fenetreResultat" class="col-sm">
              <div class="row">
                <div class="card">
                  <div class="col-sm-12">
                    <div class="card-body-note">
                      <div class="card-text">
                        <p>Id : {{ person.id }}</p>
                        <p>Login : {{ person.user.login }}</p>
                        <p>Mail : {{ person.user.mail }}</p>
                        <p>Numéro : {{ person.user.tel }}</p>
                        <p>Cotisation : {{ cotisationBoolToStr(person.cotisation) }}</p>
                        <p>
                          Etat du compte :
                          {{ actvitityBoolToStr(person.user.activity) }}
                        </p>
                      </div>
                    </div>
                    <div class="card-footer">
                      <div>
                        <div class="dropdown">
                          <button
                            class="btn btn-secondary dropdown-toggle"
                            type="button"
                            id="dropdownMenuButton"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false"
                          >
                            Actions
                          </button>
                          <div
                            class="dropdown-menu"
                            aria-labelledby="dropdownMenuButton"
                          >
  
                            <a (click)="
                              adherer(person) 
                            "  class="dropdown-item" >Cotisation</a>
  
  
                            
                          </div>
                        </div>
                      </div>
  
                      <div></div>
                    </div>
                  </div>
                  <br />
                </div>
              </div>
            </div>
            <!-- Card Pas de Résultat -->
            <div *ngIf="fenetreSansResultat" class="col-sm">
              <div class="row">
                <div class="card">
                  <div class="col-sm-12">
                    <div class="card-body-note">
                      <div class="card-text">
                        <p>Pas de résultats</p>
                        <p><br /></p>
                        <p><br /></p>
                        <p><br /></p>
                        <p><br /></p>
                      </div>
                    </div>
                  </div>
                  <br />
                </div>
              </div>
            </div>
  
            <!-- Card inscription -->
  
            <div class="card inscription">
              <div *ngIf="fenetreInscription" class="contenuCard">
                <form #f="ngForm" (ngSubmit)="inscription(f.value)">
                  <div class="form-group">
                    <label style="align-content: center" for="">
                      Créer un Joueur
                    </label>
                    <input
                      type="text"
                      placeholder="Login"
                      name="login"
                      id="login"
                      class="form-control"
                      required
                      ngModel = ' (getElementById(loginZone)) '
                    />
  
                    <input
                      type="password"
                      required
                      placeholder="Mot de passe"
                      name="password"
                      class="form-control"
                      ngModel
                    />
                    <input
                      type="text"
                      required
                      placeholder="Numéro de téléphone"
                      name="tel"
                      class="form-control"
                      ngModel
                    />
                    <input
                      type="text"
                      required
                      placeholder="Adresse email"
                      name="mail"
                      class="form-control"
                      ngModel
                    />
                  </div>
  
                  <button
                    type="submit"
                    [disabled]="f.invalid"
                    class="btn button-primary btn-sm-block"
                  >
                    Valider
                  </button>
                </form>
              </div>
            </div>
  
            <!-- Card modification -->
  
            <div class="card modification">
              <div *ngIf="fenetreModification" class="contenuCard">
                <form
                  #user="ngForm"
                  (ngSubmit)="
                    modification(user.value) +
                      console('value submit' + user.value)
                  "
                >
  
  
                  <div class="form-group">
                    <label style="align-content: center" for="">
                      Modification
                    </label>
  
                    <input
                      type="text"
                      required
                      placeholder="id"
                      class="form-control"
                      name="id"
                      ngModel="{{ person.user.id }}"
                      hidden
                    />
                    <input
                      type="text"
                      required
                      placeholder="{{ person.user.login }}"
                      class="form-control"
                      name="login"
                      ngModel="{{ person.user.login }}"
                    />
                    <input
                      type="password"
                      required
                      placeholder="{{ person.user.password }}"
                      class="form-control"
                      name="password"
                      ngModel="{{ person.user.password }}"
                    />
                    <input
                      type="text"
                      required
                      placeholder="{{ person.user.tel }}"
                      class="form-control"
                      name="tel"
                      ngModel="{{ person.user.password }}"
                    />
                    <input
                      type="text"
                      required
                      placeholder="{{ person.user.mail }}"
                      class="form-control"
                      name="mail"
                      ngModel="{{ person.user.mail }}"
                    />
  
                  </div>
  
                    <button
                      [disabled]="user.invalid"
                      
                      type="submit"
                      class="btn btn-sm button-primary btn-block"
                    >
                      Valider
                    </button>
                    <button
                      (click)="fenetreActivation(0)"
                      type="submit"
                      class="btn btn-sm button-primary btn-block"
                    >
                      Annuler
                    </button>
                  
  
                </form>
  
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  <div>
    <br />
  </div>
  