<head>
    <title>Connexion</title>
</head>
<body>
    <div class="row">
        
        <div class="container col-sm-4">
            <div class="center titre">
                <br>
                <h2>Accès au compte</h2>
                <br>
            </div>
            <div class="mt-15">

                <form #user = "ngForm" (ngSubmit) = "connexion(user.value)">
                    <div class="form-group">
                        <div class="zone-groupe">
                            <p>Identifiant</p>
                            <input type="text" class="form-control" ngModel name="login" id="login" required>
                        </div>
                        <div class="zone-groupe mt-2">
                            <br>
                            <p>Mot de passe</p>
                            <input type="password" class="form-control" ngModel name="password" id="password" required>
                        </div>
                    </div>
                    <br>
                    <div class="center">
                        <button type="submit" class="btn btn-raised"><strong>Valider</strong></button>
                        <p>{{connectMessage}}</p>
                        <p class="text-err" id="msg-err"></p>
                    </div>
                   
                </form>
                
            </div>
            
        </div>
    </div>
</body>
