
<!-- Recherche table de tous les users -->
<div class="container border">
  <div class="trombinoscope">Liste des users:</div>
  <br />

  <table class="table table-hover">
    <thead> 
      <tr>
        <th scope="col">id</th>
        <th scope="col">login</th>
        <th scope="col">password</th>
        <th scope="col">mail</th>
        <th scope="col">tel</th>
        <th scope="col">Etat</th>
        <th scope="col">Type</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let u of users">
        <th scope="row">{{ u.id }}</th>
        <td>{{ u.login }}</td>
        <td>{{ u.password }}</td>
        <td>{{ u.mail }}</td>
        <td>{{ u.tel }}</td>
        <td>{{ actvitityBoolToStr(u.activity) }}</td>
      </tr>
    </tbody>
  </table>



  <input
        type="text" required placeholder=" Zone de recherche en cours" id="login" name="login" class="form-control" ngModel/>
</div>

<!-- recherche d'un joueur par login  -->
<div class="container border">
  <p>Rechercher par login un user</p>

  <form #recherche="ngForm" (ngSubmit)="rechercheUser(recherche.value)">
    <div class="form-group">
      <label> FORMULAIRE DE recherche : </label>
      <input type="text" required placeholder=" Entre le login du user recherché" id="login" name="login" class="form-control" ngModel/>
    </div>

    <div *ngIf="userExist" class="col-sm-4">
      
      <div class="row">
        <div class="card">
          <div class="col-sm-12">
            <div class="card-body-note">
              <div class="card-header">Joueur recherché :</div>

              <div class="card-text">
                <p>Id : {{ (rechercheU.id) }}</p>
                <p>Login : {{ rechercheU.user.login }}</p>
                <p>Mail : {{ rechercheU.user.mail }}</p>
                <p>Numéro : {{ rechercheU.user.tel }}</p>
                
                <p>Etat du compte : {{ actvitityBoolToStr(rechercheU.user.activity) }}</p>
              </div>
            </div>
            <div class="card-footer">
              <button type="button" id="bt_bloquer" class="btn btn-raised noto" (click)="adherer(rechercheJ) + rechercheJoueur(recherche.value)">
                adhérer
              </button>
              <button type="button" id="bt_bloquer" class="btn btn-raised noto" (click)="bloquer(rechercheJ) + rechercheJoueur(recherche.value)">
                Bloquer
              </button>
            </div>
          </div>
          <br />
        </div>
      </div>
    </div>
    <button type="submit" class="btn button-primary btn-block">
      Valider
    </button>
  </form>
