<div class="container">
    <p><b> NOM DU JEU</b></p> <!--{{x.nom}}-->
    <div class="w3-card-4">
        <div class="row">
            <div class="col-sm-4">
                
                <img src="/assets/img/conceptJeu.jpg" alt="Image Jeu" class="img">
            </div>
    <div class="col-sm-2"></div>

                <div class="col-sm-6">
                <header class="w3-container w3-blue">
                <p><i class="fa fa-users" style="color: blueviolet;"></i>  Nb Joueurs:   Age:    Difficulté: </p>
                </header>
        
                <div class="w3-container">
                    <!-- Tab links -->
                    <div class="tab">
                    <button class="tablinks" onclick="openTab(event, 'Description')">Description</button>
                    <button class="tablinks" onclick="openTab(event, 'Regles')">Règles</button>
                    </div>

                    <!-- Tab content -->
                    <div id="Description" class="tabcontent">
                        <h3>Description</h3>
                        <p>Description du jeu</p><!--{{Description}}-->
                        <br><br><br><br>
                        <p>Fin Description</p>
                    </div>

                    <div id="Regles" class="tabcontent">
                        <h3>Regles</h3>
                        <p>Règles du jeu</p><!--{{Description}}-->
                        <br><br><br><br>
                        <p>Fin Règles</p>
                    </div>

                
                </div>

            <footer class="w3-container w3-blue">
            <p><i>Temps de Jeu :</i> </p> <!--{{x.TempsdeJeu}}-->
            </footer>
        
            </div>
        </div>
    </div>
</div>


