<div class="container">
    <p><b> NOM DU JEU</b></p> <!--{{x.nom}}-->
    <div class="w3-card-4">
        <div class="row">
            <div class="col-sm-4">
                
                <img src="/assets/img/conceptJeu.jpg" alt="Image Jeu" class="img">
            </div>
    <div class="col-sm-2"></div>

                <div class="col-sm-6">
                <header class="w3-container w3-blue">
                <p><i class="fa fa-users" style="color: blueviolet;"></i>  Nb Joueurs :   Age:    Difficulté: </p>
                <p>Age:</p>
                <p>Difficulté</p>
                </header>
        
                <div class="w3-container">
                <p>Description du jeu</p><!--{{Description}}-->
                <br><br><br><br>
                <p>Fin Description</p>
                </div>
        
            <footer class="w3-container w3-blue">
            <p>Temps de Jeu :</p> <!--{{x.TempsdeJeu}}-->
            </footer>
        
            </div>
        </div>
    </div>
</div>


