<div class="container">
    <h5> <b>{{jeu.lejeu.nom}} </b> </h5>  
    <br>
    <div class="w3-card-4">
        <div class="row">
            <div class="col-sm-4">
                
                <img src="{{jeu.lejeu.urlImage}}" alt="Image Jeu" class="img">
            </div>
            <div class="col-sm-1"></div>

            <div class="col-sm-7">
                <header class="w3-container w3-blue">
                    <h6 style="text-align: right;"> {{jeu.lejeu.marqueDuJeu.libelle}} </h6>
                    <br>
                <span><i class="fa fa-users" style="color: teal; text-align: justify;"></i>  Nombre de joueurs : {{jeu.lejeu.nombreJoueursMin}} à {{jeu.lejeu.ageMin}} <i class="fas fa-birthday-cake" style="color: teal;"></i>  Age: à partir de {{jeu.lejeu.ageMin}} ans   
                    <i class="fas fa-star" style="color: teal;"></i>  Difficulté: {{jeu.lejeu.niveauDifficulte}}    </span>
                </header>
                <br>
                <h6>Description : </h6>
                <div id="test" class="overflow-auto">  {{jeu.lejeu.description}}   </div>     

                <footer class="w3-container w3-blue">
                    <br>
                    <p><i>Temps de Jeu : {{jeu.lejeu.tempsDeJeu}} min</i> </p> 
                </footer> 

                <button data-toggle="collapse" data-target="#demo" class="btn btn-primary ">Règles</button>
                <div id="demo" class="collapse">
                {{jeu.lejeu.regleDuJeu}}
                </div>
                
                    <form>
                    <span><a class="btn btn-outline-warning btn-sm" href="connexion" role="button">Acheter</a> : {{jeu.prixAchat}} € | <a class="btn btn-outline-warning btn-sm" href="connexion" role="button">Louer</a> : {{jeu.lejeu.prixLocation}} € </span>
                    </form>
                   
                
            </div>
        </div>
        <br><br>
        
    </div>
<br><br><br>
    
    <div *ngFor="let a of avis">
        <div class="row" >
            <div class="col-sm-3" style="text-align: center;">
                
                    <img src="/assets/img/astrocat.jpg" alt="Avatar"  >
                    <div class="container">
                    <h6><b>{{a.user.login}}</b></h6>
                    </div>
            </div>
            <span class="vertical-line"></span>
            <div class="col-sm-2" style="text-align: center;">
                <h6> Note : </h6>
                <br>
                <h4> {{a.note}} </h4> <br>
                <h5> / 10</h5>
                
            </div>
            <div class="col-sm-6">
                <h6>Avis sur le jeu : </h6>
                <br>
                <p> {{a.commentaire}} </p>
            </div>
           
        </div>
        <br> <br>
    </div>
      
    
<div class="container">
    <h5>Poster un avis</h5>
    <form #newavis='ngForm' (ngSubmit)='newAvis(newavis.value)'>
        <div class="form-group">
            <label class = "text-secondary" for="">Donner votre avis : </label>
            <input type="text" name="commentaire" id="commentaire" placeholder="" class="form-control" ngModel=''>
            <label class = "text-secondary" for="note">Attribuer une note : </label>
            <input type="text" name="note" id="note" placeholder="" class="form-control" ngModel='' required>

        </div>
        <button type="submit" class="btn btn-primary btn-block">Valider</button>
    </form>
</div>

</div>
    
    


