.center{
    text-align: center;
}

.left{
    text-align: left;
}

.mt-15{
    margin-top: 15px;
}

.right{
    text-align: right;
}

.alice-blue{
    background-color: aliceblue;
}

.grey{
    background-color: gainsboro;
}

.white{
    background-color: white !important;
}

.red{
    background-color: red !important;
}

.capitalize{
    text-transform: capitalize;
}

.petit{
    font-size:small ;
}

.mt5{
   margin-top: 5%;

}


.mt{
    margin-top: 2%;
 
 }